<div class="col-md-6">
    <form class="form-inline" role="form" [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
            <input type="text"
                   placeholder="Type in your address"
                   class="form-control form-control-lg "
                   name="address" id="address"
                   formControlName="address"
            >
          <input type="submit" value="Get Coordinates" class="btn btn-lg btn-success" [disabled]="form.invalid">
      </div>
        <div class="form-group">
            <div *ngIf="form.controls.address.hasError('required')" class="alert alert-danger"><span>Please type in an address</span></div>
        </div>
    </form>
</div>
